.preview-wrapper {
    width: 12rem;
    position: relative;
    z-index: 1;
    margin: .5rem
}

.preview-img {
    width: 12rem;
    height: 9rem;
}

.text-bg {
    position: absolute;
    bottom: 0.4rem;
    width: calc(100% - 6px);
    height: 1.5rem;
    background-color: var(--grey);
    opacity: 0.75;
    padding: 4px 0 2px 6px;
}

.preview-p {
    color: var(--white);
    font-size: 1.2rem;
    font-family: Myanmar Text;
    font-weight: bold;
    line-height: 1.9rem;
}