.contact-section {
    width: 75%;
    border-radius: 50px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0rem;
} 

textarea {
    max-width: 100%;
    font-size: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 25px;
    line-height: 1.4rem;
    font-family: Myanmar Text;
    height: 8rem;
}

fieldset textarea + label {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    color: var(--grey);
    font-family: Myanmar Text;
    font-size: 1rem;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}


fieldset textarea:focus + label,
fieldset textarea:valid + label {
    color: var(--black);
    font-size: 0.75rem;
    font-weight: bold;
    -webkit-transform: translate3d(0, -1.7rem, 0);
            transform: translate3d(0, -1.7rem, 0);
}

