button {
    font-size: 1rem;
    margin: 0.5rem auto;
    width: fit-content;
    cursor: pointer;
    font-family: Myanmar Text;
}

.btn-primary {
    background-color: var(--orange);
    color: var(--black);
    border: 2px solid var(--orange);
    border-radius: 50px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    transition: 0.5s;
}

.btn-secondary {
    background-color: transparent;
    color: var(--black);
    border: 2px solid var(--white);
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    transition: 0.5s;
}

.btn-tertiary {
    background-color: transparent;
    color: var(--grey);
    border: none;
    border-bottom: 2px solid var(--grey);
    padding: 0.5rem 0.5rem;
    transition: 0.5s;
}

.btn-primary:hover {
    border: 2px solid var(--black);
}

.btn-secondary:hover {
    border: 2px solid var(--orange);
}

.btn-tertiary:hover {
    color: var(--black);
    border-bottom: 2px solid var(--orange);
}