 #bg-wrapper-div {
    height: 100vh;
    position: relative;
} 

#bg-div {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;   
}

#bg-div::-webkit-scrollbar{
    display: none;
} 

.bg-green-100 {
    height: 100%;
    background-color: var(--green);
}

.bg-orange-100 {
    height: 100%;
    background-color: var(--orange);
}

.bg-green-50 {
    height: 60%;
    background-color: var(--green);
}

.bg-orange-50 {
    height: 60%;
    background-color: var(--orange);
}