.preview-bar-wrapper {
    width: 100%;
    background-color: var(--orange);
    position: relative;
    border-radius: 0px 0px 0px 25px;
    margin: 2rem 0 5rem 0;
    padding: 0.75rem;
}

.preview-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;   
}

.preview-container::-webkit-scrollbar{
    display: none;
}

.preview-bar-wrapper::before {
    width: fit-content;
    height: 4rem;
    position: absolute;
    top: -2rem;
    left: 0;
    content: attr(data-content);
    background-color: var(--orange);
    border-radius: 25px 25px 0px 0px;
    font-family: Myanmar Text;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 2rem;
}